@layout('layout.default')

@section('content')
<div class="container">
  <div class="row">
    <img src="/img-widgets/capital.png" class="widgets">
    <h1 class="col header">About Macedonian Capital City</h1>
  </div>
  <div>
    <h3 style="color: #1b83ff">Skopje</h3>
  </div>
  <div class="text">
    <p class="animated fadeInLeftBig">
      - Much of Skopje has been renovated and rebuilt after a series of harrowing earthquakes which shook the city, the worst of which was in 1963 when a magnitude 6.1 earthquake destroyed 80% of the city. As a result, much of the city is rather new. However, luckily, the bazaar district has been rebuilt according to its historical norms. Its architecture and its vibe is old in a way that much of Skopje is not, and it makes it one of the most photogenic parts of the city as a result.
    </p>
    <div class="capital-img animated fadeInRightBig">
      <img src="/img-capitals/skopje/skopje1.jpg">
    </div>
    <p  class="animate-scrollLeft">
      - One of the best views of Skopje can be found at the Skopje Fortress (Kale – hipsters, don’t get excited, that just means “castle” in Turkish). The first construction on this site dates back to the 6th century CE, and it is thought that the structure we see today was begun in the 10th and 11th centuries. The fortress isn’t in the best condition to this day, but it is still rather impressive and definitely worth a visit when in Skopje, especially timed for sunset or sunrise.
    </p>
    <div class="capital-img animate-scrollRight">
      <img src="/img-capitals/skopje/skopje2.jpg">
    </div>
    <p class="animate-scrollLeft">
      - Did you know Skopje has its very own Paris-style Triumphal Arch? It’s much newer than Paris’s, obviously, as construction only began in 2011 and was completed shortly thereafter. It was part of the Skopje 2014 renovations, done by the sculptor Valentina Stefanovska who also did several other sculptures for the 2014 project, including the famous “Warrior on a Horse.” It’s been a bit of a controversy in Skopje, mostly for the excessive price tag, which the citizens view as government mismanagement of funds in the face of other problems Skopje has.
    </p>
    <div class="capital-img animate-scrollRight">
      <img src="/img-capitals/skopje/skopje3.jpg">
    </div>
    <p class="animate-scrollLeft">
      - Much of the Skopje 2014 renovations are controversial due to their gaudiness and excessive statues. In my opinion, the bridge in front of the Archaeological Museum in Skopje represents the renovations at their finest and most restrained.
      While still quite obviously new, I feel the bridge was constructed very tastefully and beautifully, with attention to detail and symmetry. Even the presence of over a dozen statues doesn’t do much to take away from it!
      Skopje has got to be the only European capital city with a pirate ship sitting in its main river!
      It’s a quirky place where you can sit and have a coffee (surprisingly not too overpriced) while enjoying a view of Skopje’s riverside museums and bridges. It’s a great spot to take a few unique Skopje Instagram photos on your trip!
      You can also get some interesting photos of it from the bridge that leads to the archaeological museum.
      Skopje, you’re weird, but I kind of dig it.
    </p>
    <div class="capital-img animate-scrollRight">
      <img src="/img-capitals/skopje/skopje4.jpg">
    </div>
    <p class="animate-scrollLeft">
      - Another historical place in Skopje, the Stone Bridge dates back to the 15th century. Standing next to the newer bridges and flashy monuments of the Skopje 2014 project, it makes a unique counterpoint to the new architecture of the center. It was built sometime between 1451 and 1469, and was damaged several times: most drastically in the great earthquake of 1555, but it was always repaired promptly, hence why it’s in such good condition today. It suffered its gravest threat in 1944, when Nazi occupiers rigged it with explosives – luckily, at the last minute, the detonation was called off, and the bridge was allowed to stand as proudly as it ever has.
    </p>
    <div class="capital-img animate-scrollRight">
      <img src="/img-capitals/skopje/skopje5.jpg">
    </div>
    <p class="animate-scrollLeft">
      - The “Warrior on a Horse” statue is emblematic of the controversy between Greeks and Macedonians regarding the name Macedonia and several important historical figures who were from the original region of Macedonia (which is now spread across 6 countries, Greece, North Macedonia, Bulgaria, Albania, Serbia, and Kosovo). Theoretically, this statue is of Alexander the Great, but it is not officially named after him. Frankly, we don’t care to debate the finer points of which country can claim the history of the so-called “Man on a Horse” – just know that it is a fixture of Skopje’s architecture and one of the city’s most recognizable symbols.
    </p>
    <div class="capital-img animate-scrollRight">
      <img src="/img-capitals/skopje/skopje6.jpg">
    </div>
    <p class="animate-scrollLeft">
      - Not technically in Skopje but truly so beautiful that we can’t leave it out, Matka Canyon is an obvious answer to the question of what are the best Instagram places in Macedonia. This is the most famous viewpoint, but you can also kayak in the canyon for a beautiful view from another angle!
    </p>
    <div class="capital-img animate-scrollRight">
      <img src="/img-capitals/skopje/skopje7.jpg">
    </div>
  </div>
</div>
@endsection
